# Base de datos PostgreSQL
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/polaris?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="tu-secreto-aqui-cambiar-en-produccion"
